.board-wrapper {
  padding-left: 1rem;
  padding-right:1rem;
  padding-bottom: 0.5rem;
  width:100%;
  /* height: 90%;
  max-height: 90%; */
}

.game-navigation-buttons {
  width: 100%;
  display:flex;
  justify-content: space-around;
}

.game-navigation-buttons button {
  height:2rem;
  background-color: wheat;
  padding:0.3rem;
  /* border-radius: 5px; */
}

.game-load-inputs {
  padding-top: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.game-load-inputs form {
  width:50%;
  display: flex;
  gap:1rem;
  justify-content: center;
}

.game-load-inputs form input{
  height: 2rem;
  padding: 0.3rem;
}