.comment-section-lateral {
  display:flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  /* Consider Padding
  padding:1rem; */
}
.comment-column-wrapper::-webkit-scrollbar {
  display: none;
}
.comment-column-outer-wrapper {
  /* height: 60%; DEFAULT SIZE WHEN TAG FILTERS ARE OPEN, FOR NOW USE TEMPORARY 80*/
  height:80%;
  border: 1px solid firebrick;
}


.comment-filters-outer-wrapper {
  /* height:40%; DEFAULT SIZE WHEN TAG FILTERS ARE OPEN, FOR NOW USE TEMPORARY 20*/
  height: 20%;
  border: 1px solid firebrick;
}